head
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
    meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Login
                    p Please type your email and password
                form#Login(action='/session/login' method='post')
                    .form-group
                        input#username.form-control(type='email' placeholder='Email Address' name="username")
                    .form-group
                        input#password.form-control(type='password' placeholder='Password' name="password")
                    .forgot
                        a(href='/session/forgotPassword') Forgot my password


                    button.btn.btn-primary(type='submit') Login
                    br
                    br
                    a(href='/session/createUser') Sign up
