extends ../layout

block content

    .container
        a(href='/bicycles/create') New Bicycle

        table.table 
            thead
                tr  
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Model
                    th(scope='col') Location
            tbody
                each bic in bicycles
                    tr
                        td(scope='row') 
                          = bic.code
                        td= bic.color
                        td= bic.model
                        td= bic.location
                        td
                            a(href='bicycles/' + bic.code + '/update') Edit
                        td
                            form.inline(method='post' action='bicycles/' + bic.code + '/delete')
                                input(type='hidden' name='code' value= bic.code)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Delete'
                        