extends ../layout

block content

    .container
        a(href='/users/create') New User

        table.table 
            thead
                tr  
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Email
                    th(scope='col') Verified
                    th(scope='col') 
                    th(scope='col') 

            tbody
                each user in users
                    tr
                        td(scope='row') 
                          = user.id
                        td= user.name
                        td= user.email
                        td= user.validated
                        td
                            a(href='users/' + user.id + '/update') Edit
                        td
                            form.inline(method='post' action='users/' + user.id + '/delete')
                                input(type='hidden' name='id' value= user.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                    = 'Delete'